* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: linear-gradient(to right, #f8f9fa, #e3f2fd);
    color: #333;
    padding: 40px;
    line-height: 1.6;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
    color: #8a871d;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 8px 15px;
    background: #6094c7;
    color:black;
    border-radius: 150px;
    display: inline-block;
}

ol, ul {
    margin-left: 30px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

li {
    margin: 8px 0;
    font-size: 16px;
}

p {
    background-color: #ffffff;
    padding: 15px;
    margin: 10px 30px 20px 30px;
    border-left: 5px solid #1976d2;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.08);
    text-align: justify;
}

ul ul {
    background-color: #f1f8ff;
}

ol ul {
    background-color: #f1f8ff;
}

li:hover {
    color: #1976d2;
    cursor: pointer;
    transition: 0.3s;
}
